<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">
<body>

<div class="container">
    <p align="center"><a href = "https://en.wikipedia.org/wiki/Eigenvalues_and_eigenvectors">Eigenvectors and Eigenvalues</a> of <a href="https://en.wikipedia.org/wiki/Symmetric_matrix">Symmetric Matrices</a> (WIP)</p>
    <div>
        <b>Background:</b> This API calculates the eigenvectors and eigenvalues (together often called "diagonalization) of symmetric real matrices.  Many calculations involving such a matrix can only be done easily - if at all - after it has been diagonalized.</li>
        </ul>
    </div>
    <div>
        <b>Instructions:</b> After the url above you should type <tt>/</tt> followed by a comma-separated list of the column vectors which do not include elements in the lower-triangular portion of the matrix.  Each column vector is a parenthesis-wrapped comma-separated list of numbers.  For instance the symmetric matrix depiced below is specified by
        <nobr><tt>...heroku.com/(1),(2,3),(4,5,6)</tt>.</nobr>
    </div>
    <table border="1">
        <tbody>
            <tr th:each="row : ${exampleMatrix}">
                <td th:attr="style=${tstyle}" th:each="element : ${row}" th:text="${element}"/>
            </tr>
        </tbody>
    </table>
    The eigenvalues for this matrix are approximately -0.057, -1.507, and 11.564.
</div>

</body>
</html>
